{% ckan_extends %}

{% block berlinde_content_action_inner %}
  {% set package_object = h.berlin_package_object(pkg) %}
  {% if h.check_access('package_update', {'id':pkg.id }) and h.berlin_is_fisbroker_package(package_object) %}
    {% if h.berlin_fisbroker_guid(package_object) %}
        <a class="link bicon bicon-external-link" href="{{ url_for('reimportapi.open_csw_record', package_id=pkg.id) }}" target="_blank">Open CSW record</a>
        {% link_for _('Reimport'), named_route='reimportapi.reimport_through_browser', package_id=pkg.id, class_='bicon bicon-download' %}
    {% endif %}
  {% endif %}
{% endblock %}
